body {
	background-color: #BF5430;
}
h1 {
	font-family: 'Pacifico', cursive;
	color: #FFC073;
	text-align: center;
}
h2 {
	font-family: 'Pacifico', cursive;
	color: black;
	text-align: center;
}
header {
	display: flex;
	justify-content: space-around;
}
#logo {
	width: 70px;
	height: 70px;
	margin: 0px 2px;
	align-self: baseline;
	/*align-self: flex-end;*/
}
ul {
	display: flex;
	justify-content: space-around;
}
li {
	list-style: none;
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
}
a {
	text-decoration: none;
	color: #FFC073;
}
nav {
	width: 98%;
	margin: 0px auto;
	padding: 5px;
	background-color: #A62A00;	
}
hr {
	background-color: #D2B48C;
	height: 5px;
	border:none;
}
section {
	display: flex;
	
}
article {
	width: 70%;
	margin: 7px;
	background-color: #A62A00;
}
p {
	padding: 5px;
}
aside {
	width: 30%;
	margin: 7px;
	background-color: #A62A00;
}
.photos {
	display: flex;
	flex-direction: row; 
	flex-flow: wrap;
	align-content: flex-start;
	justify-content: space-around;
}
.photos > img {
	width: 45%;
	height: 45%;
	flex-basis: 45%;
	margin-top: 5px;
}